.container {
  margin-left: auto;
  margin-right: auto;
}

div #textDisplayArea th, div #textDisplayArea td {
padding-left: 4px;
padding-right: 4px;
font-size: .9rem;
}

div #textDisplayArea {
overflow: scroll;
overflow-x: hidden;
}

.textLabels {
text-anchor: middle;
}

.textNumbers {
text-anchor: middle;
font-size: .7rem;
fill: black;
fill-opacity: 0;
}


div .pieTitle {
fill: #888;
}

.arc {
cursor: pointer;}

.arc:hover {
fill-opacity: .5;}