.container-fluid {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.btn-info.focus {
box-shadow: none;}

.btn.focus {
box-shadow: none;}

.btn-group {
margin: .8rem;
}

div #textDisplayArea th, div #textDisplayArea td {
padding-left: 4px;
padding-right: 4px;
font-size: 1rem;
}

div #textDisplayArea {
overflow: scroll;
overflow-x: hidden;
}

.textLabels {
text-anchor: middle;
}

.textNumbers {
text-anchor: middle;
font-size: .7rem;
fill: black;
fill-opacity: 0;
}

#pieChart {
margin: 1rem;
}

#lineGraph {
margin-top:1rem;
}

div .pieTitle {
fill: #888;
}

.arc {
cursor: pointer;}

.arc:hover {
fill-opacity: .5;}